.counter {
    position: relative;
    border: 1px solid darkblue;
    background-color: aliceblue;
    padding: 30px;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 600px;
    font-size: 30px;
    border-radius: 25px;
}

.counter span.value {
    margin-left: 20px;
    color:red;

}